---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Videocontactame from '../components/Videocontactame.astro';
---

<Layout title="Arzuza Portfolio">
	<main>
		<section>  <!-- Navbar -->
			<Navbar/>
            <Videocontactame/>
		</section>
	</main>
</Layout>

