---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Videoback from '../components/Videoback.astro';
import Header from '../components/Header.astro';
import Galery from '../components/Galery.astro';
---

<Layout title="Zuleima Arzuza">
	<main>
		<section>  <!-- Navbar -->
			<Navbar/>
			<Videoback/>
			<Header />
			<Galery/>
		</section>
	</main>
</Layout>

