---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Videoback from '../components/Videoback.astro';
import Carrousel from '../components/Carrousel.astro';
---

<Layout title="Zuleima Arzuza">
	<main>
		<section>  <!-- Navbar -->
			<Navbar/>
			<Videoback/>
		</section>
	</main>
</Layout>

