---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Videoportfolio from '../components/videoportfolio.astro';
---

<Layout title="Arzuza Portfolio">
	<main>
		<section>  <!-- Navbar -->
			<Navbar/>
            <Videoportfolio/>
			<!--Incluir declaracion artistica ! -->
            
		</section>
	</main>
</Layout>

