---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Videosobremi from '../components/videosobremi.astro';
import Header from '../components/Header.astro';
---

<Layout title="Sobre Mi">
	<main>
		<section>  <!-- Navbar -->
			<Navbar/>
            <Videosobremi/>
            <Header />
		</section>
	</main>
</Layout>

