

<div class=" items-center mx-auto bg-[#e3dfdf] p-8  gap-5 h-72 w-3/4 relative -top-96 flex flex-row animate-fade-up duration-700">
    <div class="basis-1/3" >
        <img class="rounded-full size-[250px] absolute -top-40" src="/profile.png" alt="">
        <h1 class="font-italic text-yellow-700 text-3xl" >Plastic Artist</h1>
        <p class="italic">Cartagena - Colombia 🇨🇴</p>
    </div>
    <div class="basis-1/2" >
        <article class="text-wrap" >
            <h3 class="italic font-semibold text-xl mb-2" >Who am I?</h3>
            <p class="font-light text-justify" >
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis adipisci repudiandae nobis pariatur? Sit, vel voluptates numquam laudantium nihil ratione mollitia a dolor? Sint officia natus odio fuga vel!Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eius esse, placeat voluptates omnis praesentium quam veritatis magnam iusto porro debitis doloribus doloremque. Commodi incidunt possimus dolorem ullam numquam sint.
            </p>
        </article>
    </div>
</div>