---

---

<div class="w-full relative" >
    <video 
        class="w-full h-screen object-cover object-top "
        src="/backvideo.mp4"
        autoplay
        loop
        muted
        ></video>
        <video 
        class="absolute -bottom-48  blur-3xl -z-40"
        src="/backvideo.mp4"
        autoplay
        loop
        muted
        ></video>
</div>